.*
target
bin
*/.*
*/target
*/bin
*/*/.*
*/*/target
*/*/bin
*/*/*/.*
*/*/*/target
*/*/*/bin
*/*/*/*/.*
*/*/*/*/target
*/*/*/*/bin
*/*/*/*/*/.*
*/*/*/*/*/target
*/*/*/*/*/bin
*/*/*/*/*/*/.*
*/*/*/*/*/*/target
*/*/*/*/*/*/bin

search/elasticsearch/data

cascading/pattern/src/main/data2

